* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.main-header {
    height: 120vh;
    align-items: center;
    display: flex;
    color: #fff;
}

h1  {
    text-align: center;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #225470;
    z-index: 1;
    opacity: 0.85; 
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

nav {
    border: 1px solid lightgray;
    background-color: rgb(208, 204, 204);
    height: 60px;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
    margin-bottom: 20px;
}

ul li {
    display: inline-block;
    padding: 5px;
}

li a:hover {
    text-decoration: none;
    color: black;
}

table {
    margin: 20px;
    margin-bottom: 40px;
    padding: 20px;
    width: 700px;
}

thead {
    background-color: lightblue;
    text-align: left;
}

tbody {
    background-color: lightgray;
    text-align: left;
}

td {
    padding-Left: 20px;
}

.container-form {
    text-align: left;
    margin: 40px 20px;
}

iframe {
    margin-left: 40px;
}